body{
    max-width: 570px;
    margin: 0 auto;
}
.cards img{
            width: 450px;
            height: 400px;
            padding: 10px;
}
.cards{
        font-weight: 800;
        width: fit-content;
        border-radius: 25px;
        border: 10px solid burlywood;
        padding: 15px;
        box-shadow: 5px 10px 10px rgb(19, 15, 10);
}
.card-container{
        flex-wrap:wrap;
        display: flex; 
        gap:50px;
}
.card-container button{
    background-color: rgb(190, 226, 89);
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 30px;
}
.card-section{
    text-align: center;
}